.finance {
  height: 90vh;

  .finance-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 26px;
      color: #9c5937;
      margin-right: 20px;

      span {
        font-size: 36px;
        color: #6a2f23;
        font-weight: bold;
      }
    }
  }

  .finance-container {
    .finance-chart {
      .card {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .finance-calculations {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
  }
}
