.finance {
  height: 90vh;

  .finance-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 26px;
      color: #9c5937;
      margin-right: 20px;

      span {
        font-size: 36px;
        color: #6a2f23;
        font-weight: bold;
      }
    }
  }

  .finance-container {
    .finance-chart {
      .card {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .expenses-box {
          margin-top: 70px;
          border-left: 1px solid grey;
          padding: 20px;

          li {
            padding: 5px;
          }
        }
      }

      .calculation-box {
        margin-top: 20px;
        width: 200px;
      }
    }
  }
    .finance-calculations {
      padding: 20px;
      margin-left: 20px;
      position: absolute;
      top: 240px;

      .balance {
        margin-bottom: 20px;
        font-size: 24px;
      }

      .profit-box {
        color: green;
        margin-bottom: 5px;
      }

      .expenses-box {
        color: red;
      }
        .profitexpenses-box {
          margin-top: 25px;
          width: 220px;
        }
      }
    }

