.signup-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  padding: 20px;

  h2{
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: 210px

  }
  .signup-logo{
    color: brown;
    font-size: 36px;

  }
  img{
    width: 40%;
  }
  .signup-form-container{
    text-align: center;
    border: 1px solid lightsteelblue;
    padding: 20px;



    h1{
      font-size: 28px;
      font-weight: bold;
    }
    span{
      margin: 8px
    }
    button{
      height: 30px;
      margin-top: 10px;
      font-size: 16px;
    }
  }
}