.signup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90vh;
  margin-right: 20px;
  .signup-menu {
    padding:10px;
    font-family: 'Indie Flower', cursive;
    font-family: 'Klee One', cursive;

    .logo {
      font-size: 26px;
      color: #9c5937;
      margin-bottom: 20px;

      span {
        font-size: 36px;
        color: #6a2f23;
        font-weight: bold;
      }
    }
  }

  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 60%;
    }

    .signup-form-container {
      text-align: center;
      border: 1px solid grey;
      padding: 15px;


      h2 {
        font-size: 20px;
        font-weight: bold;
      }

      span {
        margin: 8px
      }

      button {
        margin-top: 8px;
        height: 30px;
      }

    }
  }
}